{% load static %}

<header id="myHeader" class="head">
    <div class="fullscreen-wrap"></div>
        <div class="nav-container">
          <div class="brand">
            <a href="{% url 'index' %}"><img src="{% static 'img/ndt-logo.png' %}" alt=""></a>
          </div>


            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#"><span></span></a></div>
    
                <ul class="nav-list">
                    <li>
                    <a href="{% url 'towers' %}">Towers</a>
                    </li>
                    <li>
                    <a href="{% url 'biminis' %}">Biminis</a>
                    </li>
                    <li>
                    <a href="{% url 'accessories' %}">Accessories</a>
                    </li>
                    <li>
                    <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                    <a href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li>
                    <a href="{% url 'blogs' %}">Blog</a>
                    </li>
                </ul>
            </nav>

        </div>
</header>