{% extends 'base.html' %}

{% block content %}
<main>
 
    <!--------------------------------------STATIC CONTENT ---------------------------------------------------------------->

    <div class="blog-content">
        <h1>Blogs Coming Soon</h1>
        <p>Check back with us</p>
    </div>
    <!---------------------------------------------------END STATIC CONTENT---------------------------------------------->
    <!---------------------------------------ARTICLE FOR BLOG POST STARTS HERE LOAD BLOG POST DYNAMICALLY------------------------------------------------------>
    <!--Article tags hold each blog post-->
 
</main>
{% endblock %}